* {
    background-color: #12343b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div h1 {
    margin-top: 0px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px; 
    margin: 0 auto;
    margin-top: 15%;
    padding: 20px;
    border: 2px dashed #c9af98;
    border-radius: 2px;
}

form > input {
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 10px;
}

div > h1{
    text-align: center;
    background-color: #194851;
    color: #12343b;
    margin-bottom: 0px;
    padding: 10px;
}

form>div>input{
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 10px;
    align-items: center;
}

/* could replace with just button */
div>button{ 
    padding: 5px;
    border: none;
    margin: 5px;
    border-radius: 3px;
    background-color: #c9af98;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* could replace with just button */
ul>li>button{
    padding: 5px;
    border: none;
    margin: 5px;
    border-radius: 3px;
    background-color: #c9af98;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #c9af98;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #8f7c6b;
}

.registeration {
    text-align: center;
    color: #d4d4dc;
    margin-bottom: 0px;
}

a[type="registration_link"]{
    text-align: center;
    color: #c9af98;
    margin-bottom: 0px;
}

nav {
    color: #F5F5F5;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    color: #ffffff;
    padding: 10px 480px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav button:hover{
    cursor: pointer;
}


/* Education page css */

  .education-intro {
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .education-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-content: center;
    background-color: #f0f0f0;
  }
  
  .education-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .education-item:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .education-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .education-image:hover {
    transform: scale(1.1); 
    opacity: 0.7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  }
  